.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 40px;
  align-items: center;
}

.hero h2 {
  font-size: 4em;
}

.hero h3 {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 20px;
}

.directory {
  display: flex;
  flex-direction: column;
}

.btn {
  display: inline-block;
  background: #1565C0;
  padding: 10px 16px;
  border-radius: 10px;
  margin: 10px 10px auto 0;
  width: 350px;
  font-weight: 500;
  color: white !important;
}

.btn-secondary {
  background: #D42990;
  padding: 10px 16px;
  border-radius: 10px;
  margin: 10px 10px auto 0;
  max-width: 350px;
  font-weight: 500;
  color: white !important;
}
